LOG_LEVEL=info
APP_ENV=local

APP_DISPATCHER=rabbitmq #rabbitmq|kafka

KAFKA_BROKERS=localhost:9092

DYNAMODB_REGION=local
DYNAMODB_HOST=http://localhost:8000

OTEL_RESOURCE_ATTRIBUTES=service.name=url-shortener,service.version=1.0.0,deployment.environment=local
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp

# Version of Elastic products
STACK_VERSION=8.7.1
# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=changeme
# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=changeme

# SAMPLE Predefined Key (POC Only)
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2

RABBITMQ_HOST=rabbitmq:5672
RABBITMQ_USER=rabbit_user
RABBITMQ_PASS=changeme


AWS_ACCESS_KEY_ID=foobar
AWS_SECRET_ACCESS_KEY=foobar
